body{
  margin:0;
  background:#000;
  color:#fff;
  font-family:Arial, sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100svh;
}

#menu{
  text-align:center;
}

button{
  font-size:22px;
  padding:10px 30px;
  background:#39ff6a;
  border:none;
  cursor:pointer;
}

#game{
  display:none;
  background:#111;
  border:2px solid #333;
}

#ending{
  display:none;
  text-align:center;
}

#ending p{
  opacity:0;
  margin:10px;
  font-size:22px;
  animation:fade 2s forwards;
}

#ending p:nth-child(2){animation-delay:2s}
#ending p:nth-child(3){animation-delay:4s}

@keyframes fade{
  to{opacity:1}
}

/* КРАСНЫЙ ТРЕВОЖНЫЙ ЭФФЕКТ */
.alert{
  background:#300;
  animation:shake 0.15s infinite;
}

@keyframes shake{
  0%{transform:translate(0,0)}
  25%{transform:translate(3px,1px)}
  50%{transform:translate(-3px,0)}
  75%{transform:translate(1px,-2px)}
}

/* КРАСНЫЙ ФИЛЬТР */
.red-filter{
  position:fixed;
  inset:0;
  background:rgba(255,0,0,0.25);
  pointer-events:none;
  display:none;
}


